.phone-outer {
  background-image: url('/assets/iphone.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 250px;
  height: 500px;
  margin-left: 50px;
}

.phone-inner {
  background-size: contain;
  background-repeat: no-repeat;
  width: 211px;
  height: 377px;
  left: 15px;
  top: 60px;
  position: relative;
  margin: 0 auto;
}

@media only screen and (max-width: 980px) {
  .phone-outer {
    width: 180px;
    height: 350px;
  }

  .phone-inner {
    top: 40px;
    left: 10px;
    width: 150px;
    height: 270px;
  }
}

@media only screen and (max-width: 725px) {
  .phone-outer {
    width: 63px;
    height: 130px;
    margin-left: 15px;
  }

  .phone-inner {
    top: 15px;
    left: 4px;
    width: 55px;
    height: 99px;
  }
}