.newsletter-container {
  width: 100%;
  height: 360px;
  background: -webkit-linear-gradient(left, #a43ee7, #737ef6);
  overflow: hidden;
}

.newsletter-content {
  margin-top: -140px;
  position: relative;
  top: -60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  color: white;
  padding-left: 6rem;
}

.newsletter-content form {
  max-width: 600px;
  display: flex;
  flex-direction: row;
  margin-left: 95px;
}

.newsletter-content input {
  flex-grow: 2;
  border: none;
  border-radius: 5px;
  width: 350px;
  height: 40px;
  padding: 10px 0px 10px 20px;
  font-style: italic;
}

.newsletter-content button {
  position: relative;
  border: none;
  background:#0d151e;
  color:white;
  left: -105px;
  height: 30px;
  align-self: center;
  border-radius: 5px;
  padding: 5px 20px;
}

form .fa-envelope {
  position: relative;
  margin-left: 3px;
  left: 8px;
}

.newsletter-copy {
  display: flex;
  flex-direction: column;
}

.newsletter-copy h1 {
  font-family: AFB-Bold;
  font-size: 2.5em;
}

@media only screen and (min-width: 1600px) {
  .newsletter-container {
    height: 420px;
  }
}

@media only screen and (max-width: 1200px) {
  .newsletter-container {
    height: auto;
    padding-top: 30px;
  }

  .newsletter-content {
    margin-top: -30px;
    flex-direction: column;
    padding-left: 0;
  }

  .newsletter-copy {
    position: relative;
    top: -80px;
  }

  .newsletter-copy h1 {
    font-size: 2.8em;
  }

  .newsletter-content form {
    width: 100%;
  }

  .newsletter-content form input {
    padding: 10px 0 10px 10px;
    font-size: 0.6em;
  }

  .newsletter-content form button {
    right: 95px;
    left: inherit;
    padding: 5px 15px;
  }
}

@media only screen and (max-width: 1000px) {
  .newsletter-container {
    height: auto;
    padding-top: 30px;
  }

  .newsletter-content {
    margin-top: -30px;
    flex-direction: column;
    padding-left: 0;
  }

  .newsletter-copy {
    position: relative;
    top: -30px;
  }

  .newsletter-copy h1 {
    font-size: 2.5em;
  }

  .newsletter-content form {
    width: 100%;
  }

  .newsletter-content form input {
    padding: 10px 0 10px 10px;
    font-size: 0.6em;
  }

  .newsletter-content form button {
    right: 95px;
    left: inherit;  
    padding: 5px 15px;
  }
}

@media only screen and (max-width: 725px) {
  .newsletter-container {
    height: auto;
    padding-top: 30px;
  }

  .newsletter-content {
    margin-top: -30px;
    flex-direction: column;
    padding-left: 0;
  }

  .newsletter-copy {
    top: -20px;
  }

  .newsletter-copy h1 {
    font-size: 2em;
  }

  .newsletter-content form {
    width: 100%;
  }

  .newsletter-content form input {
    padding: 10px 0 10px 10px;
    font-size: 0.6em;
  }

  .newsletter-content form button {
    right: 95px;
    left: inherit;
    padding: 5px 15px;
  }
}

@media only screen and (max-width: 500px) {
  .newsletter-container {
    height: auto;
    padding-top: 30px;
  }

  .newsletter-copy {
    top: -10px;
  }

  .newsletter-content {
    margin-top: 0px;
    flex-direction: column;
    padding-left: 0;
  }

  .newsletter-copy h1 {
    font-size: 1.4em;
  }

  .newsletter-content form {
    width: 370px;
    margin-top: 10px;
  }

  .newsletter-content form input {
    padding: 10px 0 10px 10px;
    font-size: 0.5em;
  }

  .newsletter-content form button {
    display: flex;
    right: 85px;
    left: inherit;
    padding: 5px 15px;
    font-size: 0.6em;
  }
}