.bg-copy-container {
  width: 100%;
  text-align: center;
  position: relative;
  font-family: AFB-Bold;
  text-transform: uppercase;
}

.pattern-bg {
  position: absolute;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  width: 80%;
  z-index: 0;
}

.bg-copy {
  color: #1e2834;
  opacity: 0.2;
  z-index: 0;
  font-size: 20vw;
}

.extra-copy {
  position: relative;
  top: -240px;
  color: #fff;
}

.overlay-copy {
  font-size: 2em;
}

.overlay-single-copy {
  font-size: 4em;
  margin-top: 25px;
}

.overlay-cta {
  font-size: 4em;
  background: -webkit-linear-gradient(left, #38da58, #ffd000);
  background-clip: text;
  width: 30%;
  margin: 0 auto;
  -webkit-text-fill-color: transparent;
}


@media only screen and (max-width: 980px) {
  .extra-copy {
    top: -170px;
  }
}

@media only screen and (max-width: 725px) {
  .bg-copy {
    color: #fafafa;
  }

  .overlay-copy {
    font-size: 1.5em;
  }

  .overlay-cta {
    width: 100%;
    font-size: 2.8em;
  }

  .extra-copy {
    top: -75px;
  }

  .overlay-single-copy {
    font-size: 2.5em;
  }

  .pattern-bg {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .bg-copy {
    font-size: 18vw;
  }
}

@media only screen and (min-width: 2200px) {
  .bg-copy {
    font-size: 15vw;
  }
}

@media only screen and (min-width: 2600px) {
  .bg-copy {
    font-size: 12vw;
  }
}

@media only screen and (min-width: 3400px) {
  .bg-copy {
    font-size: 10vw;
  }
}