.section-game-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: -200px;
  margin-bottom: 100px;
}

@media only screen and (max-width: 980px) {
  .section-game-one {
    margin-top: -150px;
  }
}

@media only screen and (max-width: 725px) {
  .section-game-one {
    margin-top: -90px;
  }
}