.secrets-container {
  margin-top: -150px;
  width: 800px;
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: transparent;
}

.secrets-left {
  position: relative;
  background: -webkit-linear-gradient(top, #4cb0d4, #69e6bf);
  width: 35%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.secrets-left h2, h3 {
  font-family: AFB-Bold;
  text-transform: uppercase;
}

.secrets-left h2 {
  color: #fff;
  font-size: 1.8em;
}

.secrets-left h3 {
  font-size: 0.9em;
}

.secrets-left p {
  color: #fff;
  font-size: 0.8em;
  margin-top: 15px;
  line-height: 1.5;
}

.secrets-left img {
  align-self: center;
  width: 150px;
  height: 80px;
  margin: 40px 0;
}

.secrets-left-pixel {
  position: absolute;
  width: 100px!important;
  height: 100px!important;
  left: -80px;
  bottom: -100px;
  background-size: contain;
  background-repeat: no-repeat;
}

.secrets-right {
  position: relative;
  background: #121c24;
  width: 65%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
  padding: 30px 50px;
}

.secrets-right h2 {
  font-family: AFB-Bold;
  font-size: 1.8em;
}

.secrets-right h3 {
  font-size: 0.9em;
  color: #465160;
}

.secrets-right h3 span {
  color: #7378f3;
}

.secrets-right p {
  color: #465160;
  font-size: 0.8em;
  margin-top: 15px;
  line-height: 1.5;
}

.secrets-right button {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  background: -webkit-linear-gradient(left, #a43ee7, #737ef6);
  color: #fff;
  font-weight: 600;
}

.secrets-right img {
  position: absolute;
  width: 80px;
  height: 200px;
  right: -40px;
  top: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 980px) {
  .secrets-container {
    width: 700px;
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 725px) {
  .secrets-container {
    margin-top: -40px;
    margin-bottom: 100px;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
  }

  .secrets-left {
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
  }

  .secrets-right {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0;
  }

  .secrets-right h2 {
    font-size: 1.6em;
  }
}