.header-container {
  background: transparent;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px 35px;
}

.header-container h1 {
  cursor: pointer;
}

.header-burger {
  display: none;
}

.menu-list {
  display: flex;
  font-size: 0.9em;
  font-weight: 600;
}

.menu-item {
  margin: 10px;
  cursor: pointer;
  padding: 3px 10px;
  text-transform: uppercase;
}

.selected-menu {
  color: #75bf79;
}

.social-header {
  display: flex;
  flex-direction: row;
}

.social-header a {
  cursor: pointer;
}

.social-header i {
  padding: 10px;
  border-radius: 3px;
  font-size: 0.8em;
}

.burger-menu {
  display: none;
}

.mobile-menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background: #0d151e;
  z-index: 9;
  transition: transform 1s linear;
}

.mobile-menu-container h1 {
  font-size: 1.8em;
}

.mobile-menu-container li {
  border-bottom: 1px solid #171f28;
  font-size: 1.1em;
  font-weight: normal;
  padding: 15px;
}

.mobile-menu-top {
  background: #171f28;
  width: 100%;
  padding: 10px 22px;
}

.mobile-menu-bottom {
  position: fixed;
  bottom: 0;
  background: #171f28;
  width: 300px;
  padding: 20px;
}

@media only screen and (max-width: 1300px) {
  .social-header {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .social-header {
    display: none;
  }

  .play-button {
    display: none;
  }
}

@media only screen and (max-width: 980px) {
  .header-container {
    justify-content: space-between;
  }

  .header-container ul {
    display: none;
  }

  .mobile-menu-container ul {
    display: block;
  }

  .mobile-menu-container .social-header {
    display: flex;
    justify-content: center;
  }

  .mobile-menu-container .social-header a {
    font-size: 1.4em;
  }

  .burger-menu {
    display: block;
  }
}

@media only screen and (min-width: 980px) {
  .mobile-menu-container {
    display: none;
  }
}

@media only screen and (max-width: 725px) {
  .header-container {
    padding: 10px;
  }
}