.dot-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.dot {
  border: 2px solid #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 8px;
  cursor: pointer;
}

.dot-selected {
  background: #fff;
}

.carousel-copy {
  width: 650px;
  color: #fff;
  padding: 15px 0;
}

.bg-carousel-container {
  align-self: center;
  color: #fff;
  z-index: 2;
  position: relative;
  top: -50px;
}

.bg-carousel-container img {
  width: 300px;
}

.bg-carousel-container i {
  position: relative;
  top: -100px;
  font-size: 1.3em;
  cursor: pointer;
}

.tv-phone-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (max-width: 980px) {
  .carousel-copy {
    width: 472px;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 725px) {
  .carousel-copy {
    width: 230px;
    font-size: 0.6em;
    margin-left: 1px;
    padding: 5px 0;
  }

  .dot {
    width: 13px;
    height: 13px;
  }

  .bg-carousel-container img {
    width: 250px;
  }
}